#container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button{
    font-size: 10px;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: antiquewhite;
    cursor: pointer;
}

button:hover{
    background-color: rgb(247, 203, 146);
}

button:active{
    background-color: rgb(241, 223, 199);
}

#diceImages img{
    width: 150px;
}